*{margin: 0;padding: 0;}
body{margin: 0;padding: 0;}


#cont{margin:auto;margin-top: 100px;border: 1px solid lightgray;padding: 40px;width: 50%;}
h2{padding-bottom: 20px;text-align: center;}
input{padding: 5px;}
form{margin-left: 150px;}
#love{margin-left: 150px;color: red;margin-top: 20px;font-size: 20px;padding: 20px;}
#btn{margin-left: 120px;}
#btn_1{}
#lovevalue{margin-left: 100px;}


                                                   /*       text  input  w3schools       */
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius:10px;
}
input[type=text]:focus {
  border: 1.5px solid #555;
}
    
                                                /*       button  input  w3schools       */
